<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login - Personal Content App</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Login page</h1>

    <h2>Please login to see your data</h2>

    <form action="/login" method="POST" id="login-form">
      <input type="text" placeholder="name" name="username" id="username" />
      <input
        type="password"
        placeholder="password"
        name="password"
        id="password"
      />
      <button type="submit" id="login">Login</button>
    </form>

    <script src="main.js"></script>
  </body>
</html>
